# Đề bài
![alt](P4AI_BT1.png)

# Bài làm lớp Python for AI (Samsung)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('P4AI_BT1.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  135 non-null    float64
 1   sepal.width   135 non-null    float64
 2   petal.length  135 non-null    float64
 3   petal.width   135 non-null    float64
 4   variety       135 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# 1

## Phương pháp trung bình

In [4]:
df1 = df.copy()
df1['sepal.length'].fillna(df1['sepal.length'].mean(), inplace=True)
df1['sepal.width'].fillna(df1['sepal.width'].mean(), inplace=True)
df1['petal.length'].fillna(df1['petal.length'].mean(), inplace=True)
df1['petal.width'].fillna(df1['petal.width'].mean(), inplace=True)
most_fre_value = df1['variety'].value_counts().index[0]
df1['variety'].fillna(most_fre_value, inplace=True)
df1

     sepal.length  sepal.width  petal.length  petal.width    variety
0        5.100000     3.500000      1.400000      0.20000     Setosa
1        4.900000     3.000000      3.719259      0.20000     Setosa
2        4.700000     3.200000      1.300000      0.20000     Setosa
3        4.600000     3.100000      1.500000      1.18963     Setosa
4        5.000000     3.600000      1.400000      0.20000     Setosa
..            ...          ...           ...          ...        ...
145      6.700000     3.000000      5.200000      2.30000  Virginica
146      6.300000     3.054815      5.000000      1.90000  Virginica
147      5.852593     3.054815      5.200000      2.00000  Virginica
148      5.852593     3.400000      3.719259      2.30000  Virginica
149      5.900000     3.000000      5.100000      1.80000  Virginica

[150 rows x 5 columns]

In [5]:
df1.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [6]:
# cach 2
df2 = df.copy()
most_fre_value = df2['variety'].value_counts().index[0]
print(most_fre_value)
df2['variety'].fillna(most_fre_value, inplace=True)
df2 = df2.fillna(df2.mean())
df2

Virginica

C:\Users\Quang Huy\AppData\Local\Temp\ipykernel_6392\2651649711.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2 = df2.fillna(df2.mean())

     sepal.length  sepal.width  petal.length  petal.width    variety
0        5.100000     3.500000      1.400000      0.20000     Setosa
1        4.900000     3.000000      3.719259      0.20000     Setosa
2        4.700000     3.200000      1.300000      0.20000     Setosa
3        4.600000     3.100000      1.500000      1.18963     Setosa
4        5.000000     3.600000      1.400000      0.20000     Setosa
..            ...          ...           ...          ...        ...
145      6.700000     3.000000      5.200000      2.30000  Virginica
146      6.300000     3.054815      5.000000      1.90000  Virginica
147      5.852593     3.054815      5.200000      2.00000  Virginica
148      5.852593     3.400000      3.719259      2.30000  Virginica
149      5.900000     3.000000      5.100000      1.80000  Virginica

[150 rows x 5 columns]

In [7]:
df2.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [8]:
print(df1.equals(df2))

True

# Phương pháp tần số cao nhất (mode)

In [9]:
# cach 1
df3 = df.copy()
df3['sepal.length'].fillna(df3['sepal.length'].mode()[0] , inplace=True)
df3['sepal.width'].fillna(df3['sepal.width'].mode()[0] , inplace=True)
df3['petal.length'].fillna(df3['petal.length'].mode()[0] , inplace=True)
df3['petal.width'].fillna(df3['petal.width'].mode()[0], inplace=True)
df3['variety'].fillna(df3['variety'].mode()[0], inplace=True)
df3

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           5.1          3.0           5.2          2.0  Virginica
148           5.1          3.4           1.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

# 2. Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3

In [10]:
# theo phương pháp trung bình
df5 = df1.copy()
df5[(df5['sepal.length'] > 5) & (df['sepal.width'] > 3)]

     sepal.length  sepal.width  petal.length  petal.width     variety
0        5.100000          3.5      1.400000      0.20000      Setosa
5        5.400000          3.9      1.700000      0.40000      Setosa
6        5.852593          3.4      1.400000      0.30000      Setosa
7        5.852593          3.4      1.500000      0.20000      Setosa
10       5.400000          3.7      1.500000      0.20000      Setosa
15       5.700000          4.4      1.500000      1.18963      Setosa
16       5.400000          3.9      1.300000      0.40000      Setosa
17       5.100000          3.5      1.400000      0.30000   Virginica
18       5.700000          3.8      1.700000      1.18963      Setosa
19       5.100000          3.8      1.500000      0.30000      Setosa
20       5.400000          3.4      3.719259      0.20000      Setosa
21       5.100000          3.7      3.719259      0.40000      Setosa
23       5.100000          3.3      1.700000      0.50000      Setosa
27       5.200000          3.5      1.500000      0.20000   Virginica
28       5.200000          3.4      1.400000      0.20000      Setosa
31       5.400000          3.4      1.500000      0.40000      Setosa
32       5.200000          4.1      1.500000      0.10000      Setosa
33       5.500000          4.2      1.400000      0.20000   Virginica
36       5.500000          3.5      1.300000      0.20000      Setosa
39       5.100000          3.4      1.500000      0.20000      Setosa
43       5.852593          3.5      1.600000      0.60000      Setosa
44       5.100000          3.8      1.900000      1.18963      Setosa
46       5.100000          3.8      1.600000      0.20000      Setosa
47       5.852593          3.2      1.400000      0.20000      Setosa
48       5.300000          3.7      1.500000      0.20000      Setosa
50       7.000000          3.2      4.700000      1.40000   Virginica
51       6.400000          3.2      4.500000      1.18963  Versicolor
52       5.852593          3.1      4.900000      1.50000  Versicolor
56       6.300000          3.3      4.700000      1.60000  Versicolor
65       6.700000          3.1      4.400000      1.40000  Versicolor
70       5.900000          3.2      4.800000      1.80000   Virginica
85       5.852593          3.4      4.500000      1.60000  Versicolor
86       6.700000          3.1      4.700000      1.50000  Versicolor
100      6.300000          3.3      6.000000      1.18963   Virginica
110      6.500000          3.2      5.100000      2.00000   Virginica
115      6.400000          3.2      5.300000      2.30000   Virginica
117      7.700000          3.8      6.700000      2.20000   Virginica
120      6.900000          3.2      5.700000      2.30000   Virginica
124      6.700000          3.3      5.700000      2.10000   Virginica
125      7.200000          3.2      6.000000      1.80000   Virginica
131      7.900000          3.8      6.400000      2.00000   Virginica
136      6.300000          3.4      5.600000      2.40000   Virginica
137      6.400000          3.1      5.500000      1.80000   Virginica
139      6.900000          3.1      5.400000      1.18963   Virginica
141      6.900000          3.1      5.100000      2.30000   Virginica
143      6.800000          3.2      5.900000      2.30000   Virginica
148      5.852593          3.4      3.719259      2.30000   Virginica

In [11]:
# Theo phương pháp tần số lớn nhất
df6 = df2.copy()
df6[(df6['sepal.length'] > 5) & (df6['sepal.width'] > 3)]

     sepal.length  sepal.width  petal.length  petal.width     variety
0        5.100000     3.500000      1.400000      0.20000      Setosa
5        5.400000     3.900000      1.700000      0.40000      Setosa
6        5.852593     3.400000      1.400000      0.30000      Setosa
7        5.852593     3.400000      1.500000      0.20000      Setosa
10       5.400000     3.700000      1.500000      0.20000      Setosa
14       5.800000     3.054815      1.200000      0.20000      Setosa
15       5.700000     4.400000      1.500000      1.18963      Setosa
16       5.400000     3.900000      1.300000      0.40000      Setosa
17       5.100000     3.500000      1.400000      0.30000   Virginica
18       5.700000     3.800000      1.700000      1.18963      Setosa
19       5.100000     3.800000      1.500000      0.30000      Setosa
20       5.400000     3.400000      3.719259      0.20000      Setosa
21       5.100000     3.700000      3.719259      0.40000      Setosa
23       5.100000     3.300000      1.700000      0.50000      Setosa
27       5.200000     3.500000      1.500000      0.20000   Virginica
28       5.200000     3.400000      1.400000      0.20000      Setosa
31       5.400000     3.400000      1.500000      0.40000      Setosa
32       5.200000     4.100000      1.500000      0.10000      Setosa
33       5.500000     4.200000      1.400000      0.20000   Virginica
36       5.500000     3.500000      1.300000      0.20000      Setosa
39       5.100000     3.400000      1.500000      0.20000      Setosa
43       5.852593     3.500000      1.600000      0.60000      Setosa
44       5.100000     3.800000      1.900000      1.18963      Setosa
46       5.100000     3.800000      1.600000      0.20000      Setosa
47       5.852593     3.200000      1.400000      0.20000      Setosa
48       5.300000     3.700000      1.500000      0.20000      Setosa
50       7.000000     3.200000      4.700000      1.40000   Virginica
51       6.400000     3.200000      4.500000      1.18963  Versicolor
52       5.852593     3.100000      4.900000      1.50000  Versicolor
56       6.300000     3.300000      4.700000      1.60000  Versicolor
65       6.700000     3.100000      4.400000      1.40000  Versicolor
70       5.900000     3.200000      4.800000      1.80000   Virginica
84       5.400000     3.054815      3.719259      1.50000  Versicolor
85       5.852593     3.400000      4.500000      1.60000  Versicolor
86       6.700000     3.100000      4.700000      1.50000  Versicolor
95       5.700000     3.054815      4.200000      1.20000  Versicolor
100      6.300000     3.300000      6.000000      1.18963   Virginica
103      6.300000     3.054815      5.600000      1.80000   Virginica
108      5.852593     3.054815      5.800000      1.80000   Virginica
109      7.200000     3.054815      6.100000      2.50000   Virginica
110      6.500000     3.200000      5.100000      2.00000   Virginica
111      6.400000     3.054815      3.719259      1.90000   Virginica
115      6.400000     3.200000      5.300000      2.30000   Virginica
117      7.700000     3.800000      6.700000      2.20000   Virginica
120      6.900000     3.200000      5.700000      2.30000   Virginica
124      6.700000     3.300000      5.700000      2.10000   Virginica
125      7.200000     3.200000      6.000000      1.80000   Virginica
131      7.900000     3.800000      6.400000      2.00000   Virginica
136      6.300000     3.400000      5.600000      2.40000   Virginica
137      6.400000     3.100000      5.500000      1.80000   Virginica
138      6.000000     3.054815      4.800000      1.18963   Virginica
139      6.900000     3.100000      5.400000      1.18963   Virginica
140      6.700000     3.054815      3.719259      2.40000   Virginica
141      6.900000     3.100000      5.100000      2.30000   Virginica
143      6.800000     3.200000      5.900000      2.30000   Virginica
144      6.700000     3.054815      5.700000      2.50000   Virginica
146      6.300000     3.054815      5.000000      1.90000   Virginica
147      5.852593     3.054815      5.200000      2.00000   Virginica
148      5.852593     3.400000      3.719259      2.30000   Virginica

# Chuẩn hóa dữ liệu theo min max
$$ y = \frac{x - min}{max - min}$$
Các giá trị sẽ trở thành giá trị từ $0 - 1$

In [12]:
def convert(df_row):
    return (df_row - df_row.min()) /(df_row.max() - df_row.min())

In [13]:
# Phương pháp trung bình
df7 = df2.copy()
df7['sepal.length'] = convert(df7['sepal.length'])
df7['sepal.width'] = convert(df7['sepal.width'])
df7['petal.length'] = convert(df7['petal.length'])
df7['petal.width'] = convert(df7['petal.width'])
df7

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.460891     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.454012     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.439506      0.677966     0.750000  Virginica
147      0.431276     0.439506      0.711864     0.791667  Virginica
148      0.431276     0.583333      0.460891     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

In [14]:
# Phương pháp tần số lớn nhất
df8 = df3.copy()
df8['sepal.length'] = convert(df8['sepal.length'])
df8['sepal.width'] = convert(df8['sepal.width'])
df8['petal.length'] = convert(df8['petal.length'])
df8['petal.width'] = convert(df8['petal.width'])
df8

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.067797     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.041667     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.416667      0.677966     0.750000  Virginica
147      0.222222     0.416667      0.711864     0.791667  Virginica
148      0.222222     0.583333      0.067797     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

# Liên tục hóa thuộc tính variety

In [15]:
# Cách 1
df9 = df7.copy()
dummies = pd.get_dummies(df9['variety'])
df9.drop('variety', axis=1)
pd.concat([df9, dummies], axis=1)

,sepal.length,sepal.width,petal.length,petal.width,variety,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,Setosa,1,0,0
1,0.166667,0.416667,0.460891,0.041667,Setosa,1,0,0
2,0.111111,0.500000,0.050847,0.041667,Setosa,1,0,0
3,0.083333,0.458333,0.084746,0.454012,Setosa,1,0,0
4,0.194444,0.666667,0.067797,0.041667,Setosa,1,0,0
...,...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,Virginica,0,0,1
146,0.555556,0.439506,0.677966,0.750000,Virginica,0,0,1
147,0.431276,0.439506,0.711864,0.791667,Virginica,0,0,1
148,0.431276,0.583333,0.460891,0.916667,Virginica,0,0,1
149,0.444444,0.416667,0.694915,0.708333,Virginica,0,0,1

In [16]:
# Cách 2: dùng thư viện
df10 = df7.copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df10['variety'] = le.fit_transform(df10['variety'])
df10

     sepal.length  sepal.width  petal.length  petal.width  variety
0        0.222222     0.625000      0.067797     0.041667        0
1        0.166667     0.416667      0.460891     0.041667        0
2        0.111111     0.500000      0.050847     0.041667        0
3        0.083333     0.458333      0.084746     0.454012        0
4        0.194444     0.666667      0.067797     0.041667        0
..            ...          ...           ...          ...      ...
145      0.666667     0.416667      0.711864     0.916667        2
146      0.555556     0.439506      0.677966     0.750000        2
147      0.431276     0.439506      0.711864     0.791667        2
148      0.431276     0.583333      0.460891     0.916667        2
149      0.444444     0.416667      0.694915     0.708333        2

[150 rows x 5 columns]

# 6. Xây dựng mô hình hồi quy tuyến tính dự đoán variety dựa theo giá trị khác

## Xây dựng tay
### Thêm cột 1 vào X_train

In [17]:
df_reg = df10.copy()
len(df_reg)

150

In [18]:
X, y = df_reg.iloc[:, :-1].values, df_reg.iloc[:, -1]
one = np.ones((X.shape[0], 1))
Xbar = np.concatenate((one, X), axis=1)
train_length = int(0.8 * len(df_reg))

In [19]:
X_train, y_train, X_test, y_test = Xbar[:train_length, :], np.array([y[:train_length]]).T, Xbar[train_length:, :], np.array([y[train_length:]]).T

In [20]:
X_train

array([[1.        , 0.22222222, 0.625     , 0.06779661, 0.04166667],
       [1.        , 0.16666667, 0.41666667, 0.4608914 , 0.04166667],
       [1.        , 0.11111111, 0.5       , 0.05084746, 0.04166667],
       [1.        , 0.08333333, 0.45833333, 0.08474576, 0.45401235],
       [1.        , 0.19444444, 0.66666667, 0.06779661, 0.04166667],
       [1.        , 0.30555556, 0.79166667, 0.11864407, 0.125     ],
       [1.        , 0.43127572, 0.58333333, 0.06779661, 0.08333333],
       [1.        , 0.43127572, 0.58333333, 0.08474576, 0.04166667],
       [1.        , 0.02777778, 0.375     , 0.06779661, 0.04166667],
       [1.        , 0.16666667, 0.45833333, 0.08474576, 0.        ],
       [1.        , 0.30555556, 0.70833333, 0.08474576, 0.04166667],
       [1.        , 0.13888889, 0.43950617, 0.10169492, 0.04166667],
       [1.        , 0.13888889, 0.41666667, 0.06779661, 0.        ],
       [1.        , 0.        , 0.41666667, 0.01694915, 0.        ],
       [1.        , 0.41666667, 0.43950617, 0.03389831, 0.04166667],
       [1.        , 0.38888889, 1.        , 0.08474576, 0.45401235],
       [1.        , 0.30555556, 0.79166667, 0.05084746, 0.125     ],
       [1.        , 0.22222222, 0.625     , 0.06779661, 0.08333333],
       [1.        , 0.38888889, 0.75      , 0.11864407, 0.45401235],
       [1.        , 0.22222222, 0.75      , 0.08474576, 0.08333333],
       [1.        , 0.30555556, 0.58333333, 0.4608914 , 0.04166667],
       [1.        , 0.22222222, 0.70833333, 0.4608914 , 0.125     ],
       [1.        , 0.08333333, 0.66666667, 0.        , 0.04166667],
       [1.        , 0.22222222, 0.54166667, 0.11864407, 0.16666667],
       [1.        , 0.13888889, 0.58333333, 0.15254237, 0.04166667],
       [1.        , 0.19444444, 0.41666667, 0.10169492, 0.04166667],
       [1.        , 0.19444444, 0.58333333, 0.10169492, 0.125     ],
       [1.        , 0.25      , 0.625     , 0.08474576, 0.04166667],
       [1.        , 0.25      , 0.58333333, 0.06779661, 0.04166667],
       [1.        , 0.11111111, 0.5       , 0.10169492, 0.04166667],
       [1.        , 0.13888889, 0.45833333, 0.10169492, 0.04166667],
       [1.        , 0.30555556, 0.58333333, 0.08474576, 0.125     ],
       [1.        , 0.25      , 0.875     , 0.08474576, 0.        ],
       [1.        , 0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [1.        , 0.16666667, 0.45833333, 0.4608914 , 0.04166667],
       [1.        , 0.19444444, 0.5       , 0.03389831, 0.04166667],
       [1.        , 0.33333333, 0.625     , 0.05084746, 0.04166667],
       [1.        , 0.16666667, 0.66666667, 0.06779661, 0.        ],
       [1.        , 0.02777778, 0.43950617, 0.05084746, 0.45401235],
       [1.        , 0.22222222, 0.58333333, 0.08474576, 0.04166667],
       [1.        , 0.19444444, 0.625     , 0.05084746, 0.08333333],
       [1.        , 0.05555556, 0.125     , 0.05084746, 0.08333333],
       [1.        , 0.02777778, 0.43950617, 0.05084746, 0.04166667],
       [1.        , 0.43127572, 0.625     , 0.10169492, 0.20833333],
       [1.        , 0.22222222, 0.75      , 0.15254237, 0.45401235],
       [1.        , 0.13888889, 0.41666667, 0.06779661, 0.08333333],
       [1.        , 0.22222222, 0.75      , 0.10169492, 0.04166667],
       [1.        , 0.43127572, 0.5       , 0.06779661, 0.04166667],
       [1.        , 0.27777778, 0.70833333, 0.08474576, 0.04166667],
       [1.        , 0.19444444, 0.54166667, 0.06779661, 0.04166667],
       [1.        , 0.75      , 0.5       , 0.62711864, 0.54166667],
       [1.        , 0.58333333, 0.5       , 0.59322034, 0.45401235],
       [1.        , 0.43127572, 0.45833333, 0.66101695, 0.58333333],
       [1.        , 0.33333333, 0.125     , 0.50847458, 0.45401235],
       [1.        , 0.61111111, 0.33333333, 0.61016949, 0.58333333],
       [1.        , 0.38888889, 0.33333333, 0.4608914 , 0.5       ],
       [1.        , 0.55555556, 0.54166667, 0.62711864, 0.625     ],
       [1.        , 0.16666667, 0.16666667, 0.38983051, 0.375     ],
       [1.        , 0.63888889, 0.375     , 0.61016949, 0.5       ],
       [1.        , 0.43127572, 0.29166667, 0.4608914 , 0.54166667],
       [1.        , 0.19444444, 0.        , 0.42372881, 0.375     ],
       [1.        , 0.43127572, 0.41666667, 0.54237288, 0.58333333],
       [1.        , 0.47222222, 0.08333333, 0.50847458, 0.375     ],
       [1.        , 0.5       , 0.375     , 0.62711864, 0.45401235],
       [1.        , 0.36111111, 0.375     , 0.44067797, 0.5       ],
       [1.        , 0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [1.        , 0.36111111, 0.41666667, 0.4608914 , 0.58333333],
       [1.        , 0.41666667, 0.29166667, 0.52542373, 0.375     ],
       [1.        , 0.52777778, 0.08333333, 0.59322034, 0.58333333],
       [1.        , 0.36111111, 0.20833333, 0.49152542, 0.41666667],
       [1.        , 0.44444444, 0.5       , 0.6440678 , 0.70833333],
       [1.        , 0.5       , 0.33333333, 0.50847458, 0.5       ],
       [1.        , 0.55555556, 0.20833333, 0.66101695, 0.58333333],
       [1.        , 0.5       , 0.33333333, 0.62711864, 0.45833333],
       [1.        , 0.58333333, 0.375     , 0.55932203, 0.5       ],
       [1.        , 0.63888889, 0.41666667, 0.57627119, 0.54166667],
       [1.        , 0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [1.        , 0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [1.        , 0.47222222, 0.375     , 0.59322034, 0.58333333],
       [1.        , 0.38888889, 0.25      , 0.42372881, 0.375     ],
       [1.        , 0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [1.        , 0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [1.        , 0.41666667, 0.29166667, 0.49152542, 0.45833333],
       [1.        , 0.47222222, 0.29166667, 0.4608914 , 0.625     ],
       [1.        , 0.30555556, 0.43950617, 0.4608914 , 0.58333333],
       [1.        , 0.43127572, 0.58333333, 0.59322034, 0.625     ],
       [1.        , 0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [1.        , 0.55555556, 0.125     , 0.57627119, 0.5       ],
       [1.        , 0.36111111, 0.41666667, 0.52542373, 0.5       ],
       [1.        , 0.43127572, 0.20833333, 0.50847458, 0.5       ],
       [1.        , 0.43127572, 0.25      , 0.57627119, 0.45833333],
       [1.        , 0.5       , 0.41666667, 0.61016949, 0.54166667],
       [1.        , 0.41666667, 0.25      , 0.50847458, 0.45833333],
       [1.        , 0.19444444, 0.125     , 0.38983051, 0.375     ],
       [1.        , 0.36111111, 0.29166667, 0.54237288, 0.5       ],
       [1.        , 0.38888889, 0.43950617, 0.54237288, 0.45833333],
       [1.        , 0.38888889, 0.375     , 0.54237288, 0.5       ],
       [1.        , 0.52777778, 0.375     , 0.55932203, 0.5       ],
       [1.        , 0.22222222, 0.20833333, 0.33898305, 0.41666667],
       [1.        , 0.38888889, 0.33333333, 0.52542373, 0.5       ],
       [1.        , 0.55555556, 0.54166667, 0.84745763, 0.45401235],
       [1.        , 0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [1.        , 0.77777778, 0.41666667, 0.83050847, 0.83333333],
       [1.        , 0.55555556, 0.43950617, 0.77966102, 0.70833333],
       [1.        , 0.43127572, 0.41666667, 0.81355932, 0.875     ],
       [1.        , 0.91666667, 0.41666667, 0.4608914 , 0.83333333],
       [1.        , 0.16666667, 0.20833333, 0.59322034, 0.66666667],
       [1.        , 0.83333333, 0.375     , 0.89830508, 0.45401235],
       [1.        , 0.43127572, 0.43950617, 0.81355932, 0.70833333],
       [1.        , 0.80555556, 0.43950617, 0.86440678, 1.        ],
       [1.        , 0.61111111, 0.5       , 0.69491525, 0.79166667],
       [1.        , 0.58333333, 0.43950617, 0.4608914 , 0.75      ],
       [1.        , 0.69444444, 0.41666667, 0.76271186, 0.83333333],
       [1.        , 0.38888889, 0.20833333, 0.4608914 , 0.79166667],
       [1.        , 0.41666667, 0.33333333, 0.69491525, 0.95833333],
       [1.        , 0.58333333, 0.5       , 0.72881356, 0.91666667],
       [1.        , 0.61111111, 0.41666667, 0.76271186, 0.70833333],
       [1.        , 0.94444444, 0.75      , 0.96610169, 0.875     ],
       [1.        , 0.94444444, 0.25      , 1.        , 0.91666667],
       [1.        , 0.47222222, 0.08333333, 0.6779661 , 0.58333333]])

In [21]:
print(y_train.shape)

(120, 1)

In [22]:
A = np.linalg.pinv(np.dot(X_train.T, X_train))
b = np.dot(X_train.T, y_train)

In [23]:
w = np.dot(A, b)
w

array([[ 0.15770294],
       [ 0.30911447],
       [-0.35569721],
       [ 0.97640364],
       [ 1.00343977]])

In [24]:
#w_0, w_1, w_2, w_3, w_4 = w[0][0], w[1][0], w[2][0], w[3][0], w[4][0]

In [25]:
y0 = np.dot(X_test, w)
y_pred = np.round(y0)
# tính toán độ chính xác
acc = sum([1 if y_test[i] == y_pred[i] else 0 for i in range(len(y_test))])
print('Accurancy: ', acc/len(y_test))

Accurancy:  0.8

### Thư viện scikit-learn

#### Sử dụng X_train có cột 1 ở đầu

In [26]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression(fit_intercept=False) #fit_
regr.fit(X_train, y_train)
print(regr.coef_)
y_pred = np.round(regr.predict(X_test))

[[ 0.15770294  0.30911447 -0.35569721  0.97640364  1.00343977]]

In [27]:
from sklearn.metrics import accuracy_score
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Accuracy: 0.80

#### Sử dụng X_train không có cột số 1 ở đầu

In [28]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y, test_size=0.2, random_state=42)
regr1 = LinearRegression(fit_intercept=True)
regr1.fit(X_train1, y_train1)
y_pred1 = np.round(regr1.predict(X_test1))
print(regr1.coef_)
print(regr1.intercept_)

[ 0.26959404 -0.20493514  1.14831915  1.11035393]
0.060481722118915116

In [29]:
from sklearn.metrics import accuracy_score
print('Accuracy: %.2f' % accuracy_score(y_test1, y_pred1))

Accuracy: 0.87

# 7. Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu

In [30]:
df11 = df7.copy()
df11 = df7.sample(frac=0.5, replace=True, random_state=1)
df11

     sepal.length  sepal.width  petal.length  petal.width     variety
37       0.166667     0.666667      0.067797     0.000000      Setosa
140      0.666667     0.439506      0.460891     0.958333   Virginica
72       0.555556     0.208333      0.661017     0.583333  Versicolor
137      0.583333     0.458333      0.762712     0.708333   Virginica
133      0.431276     0.333333      0.694915     0.454012   Virginica
..            ...          ...           ...          ...         ...
87       0.555556     0.125000      0.576271     0.500000  Versicolor
25       0.194444     0.416667      0.101695     0.041667      Setosa
92       0.416667     0.250000      0.508475     0.458333  Versicolor
74       0.583333     0.375000      0.559322     0.500000  Versicolor
46       0.222222     0.750000      0.101695     0.041667      Setosa

[75 rows x 5 columns]